.page {
  min-height: calc(100vh - 10rem);
}
.menu-area {
  margin: 40px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 2rem;
}
.menu-list {
  display: flex;
  overflow: hidden;
  background-color: transparent;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-size: 17px;
  list-style-type: none;
  font-family: "Fraunces", serif;
}
.menu-link {
  display: block;
  padding: 0em;
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
}
.header-image {
  padding-bottom: 20%;
  margin-top: -30px;
  max-width: 1440px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/desktop/image-header.jpg");
  min-height: 400px;
  position: relative;
}
/* .header-area img {
  display: none;
} */
.font-fra {
  font-family: "Fraunces", serif;
  color: hsl(171, 6%, 21%);
}
.font-bar {
  font-family: "Barlow", sans-serif;
  color: hsl(171, 6%, 21%);
}
.header-title {
  font-family: "Fraunces", serif;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-list {
  margin: 0;
  padding: 0;
}
.box {
  display: flex;
}
.card-item {
  list-style-type: none;
  width: 50%;
  margin: 0;
}
.card-image {
  height: 0;
  padding-bottom: 60%;
  background-color: rgb(240, 233, 210);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  position: relative;
}
.card-item img {
  display: none;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  object-fit: cover;
}
.card-desc {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.client-top {
  font-family: "Fraunces", serif;
  background-color: rgb(240, 233, 210);
  color: gray;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: -1em;
}
.client-list {
  margin: 0;
  padding: 0;
}
.client-item {
  border: yellow solid 3px;
  list-style-type: none;
  width: 33.33333%;
  display: flex;
  margin: 0;
}
.client-image {
  padding-bottom: 10%;
  padding-top: 20%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgb(240, 233, 210);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}
.client-desc {
  flex: 1 1 auto;
  list-style-type: none;
  text-align: center;
  margin: 0;
}
.client-image img {
  border-radius: 50%;
  width: 20%;
}
.food-box {
  display: flex;
}
.food-list {
  margin: 0;
  padding: 0;
}
.food-item {
  border: blue solid 1px;
  list-style-type: none;
  width: 375px;
  height: 375px;
  margin: 0 0 auto;
}
.food-item img {
  display: none;
}
.food-image {
  padding-bottom: 60%;
  background-color: rgb(240, 233, 210);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  min-width: 100%;
  height: 55.5%;
  position: relative;
  object-fit: cover;
}
.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 10rem;
  background: rgb(80, 212, 195);
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-self: center;
}
.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.footer-item {
  padding: 30px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  color: white;
}
.footer-sns {
  display: flex;
  align-content: center;
  justify-content: center;
}
.icon-style {
  width: 5px;
  padding: 10px;
}
@media (max-width: 375px) {
  .page {
    background-color: teal;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
  }
  .card-item {
    width: 49%;
    padding: 0 1rem;
  }
}
